.menu__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: center;
}

.menu__texts {
  color: #FFFFFF;
}

.menu__img {
  width: 68px;
  height: 68px;
}

.menu__text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 3px;
}

.menu__text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: underline;
}

.main__text-main {
  letter-spacing: 5px;

  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;

  color: rgba(255, 255, 255, 0.86);

  margin-bottom: 35px;
}

.main__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;

  color: rgba(255, 255, 255, 0.75);

  margin-bottom: 90px;
}

.main__flex-button {
  display: flex;
  justify-content: center;
}

.main__span {
  display: block;
}

.main__button {
  width: 200px;
  height: 48px;

  background: #15A9CB;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  border-color: #15A9CB;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.menu {
  padding-top: 40px;
  padding-bottom: 120px;
  background-image: url("../main/img/background.png");
  background-size: cover;
  position: relative;
}

@media (max-width: 1024px) {
  .menu__img {
    width: 60px;
    height: 60px;
  }

  .menu__text1 {
    font-size: 21px;
    line-height: 25px;
  }

  .menu__text2 {
    font-size: 13px;
    line-height: 15px;
  }

  .menu {
    padding-top: 26px;
    padding-bottom: 70px;
  }

  .menu__menu {
    margin-bottom: 70px;
  }

  .main__text-main {
    margin-bottom: 27.5px;
    font-size: 40px;
    line-height: 47px;
  }

  .main__text {
    margin-bottom: 60.43px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 320px) {
  .menu__img {
    width: 30px;
    height: 30px;
  }

  .menu__text1 {
    display: none;
  }

  .menu__text2 {
    display: none;
  }

  .menu__texts {
    background-image: url("../main/img/Phone.svg");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;

  }

  .menu {
    padding-top: 19px;
    padding-bottom: 65px;
  }

  .menu__menu {
    margin-bottom: 72px;
  }

  .main__text-main {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 23px;
  }

  .main__text {
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 20px;
  }

  .main__button {
    width: 160px;
    height: 38px;

    font-size: 16px;
    line-height: 19px;
  }
}
