.contact {
  background-image: url("../contact/img/Background.png");
}

.contact__main-text {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;

  color: #FFFFFF;

  margin-bottom: 17px;
}

.contact__text {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  color: rgba(255, 255, 255, 0.8);

  margin-bottom: 50px;
}

.contact__label {
  display: block;
  margin-bottom: 21px;
}

.contact__label:last-of-type {
  margin-bottom: 50px;
}

.contact__input {
  width: 423px;
  height: 44px;
  left: 588px;
  top: 1533px;

  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  background-color: transparent;
}

.contact__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: left;

  color: rgba(255, 255, 255, 0.5);

  padding-left: 25px;
}

.contact__submit {
  width: 218px;
  height: 48px;

  background: #15A9CB;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  border-color: rgba(21, 169, 203, 0.3);

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;

  margin-bottom: 50px;
}

.contact__form {
  text-align: center;
}

.contact__sogl {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.contact__sogl > .contact__span {
  text-decoration: underline;
  color: #15A9CB;
}

@media (max-width: 1024px) {
  .contact__main-text {
    font-size: 32px;
    line-height: 38px;

    margin-bottom: 16px;
  }

  .contact__text {
    font-size: 20px;
    line-height: 23px;
  }

  .contact__input {
    width: 377px;
    height: 39px;
  }

  .contact__input::placeholder {
    font-size: 20px;
    line-height: 23px;
  }

  .contact__label {
    margin-bottom: 20px;
  }

  .contact__submit {
    width: 218px;
    height: 48px;

    font-size: 20px;
    line-height: 23px;
  }

  .contact__form {
    margin-bottom: 30px;
  }

  .contact__sogl {
    font-size: 17px;
    line-height: 20px;
  }

  .contact {
    padding-bottom: 56px;
  }
}

@media (max-width: 320px) {
  .contact__main-text {
    font-size: 20px;
    line-height: 23px;

    margin-bottom: 10px;
  }

  .contact__text {
    font-size: 12px;
    line-height: 14px;

    margin-bottom: 35px;
  }

  .contact__input {
    width: 290px;
    height: 28px;
  }

  .contact__input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .contact__label {
    margin-bottom: 15px;
  }

  .contact__submit {
    width: 174px;
    height: 38px;

    font-size: 16px;
    line-height: 19px;
  }

  .contact__form {
    margin-bottom: 30px;
  }

  .contact__sogl {
    font-size: 11px;
    line-height: 13px;
  }

  .contact {
    padding: 30px 0;
  }
}
