.footer {
  padding: 45px 0;
  background: #2F324B;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__texts {
  color: #FFFFFF;
}

.footer__text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 3px;
}

.footer__text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: underline;
}

.footer__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */


  color: #FFFFFF;
}

.footer__left-block {
  display: flex;
  gap: 19px;
  align-items: center;
}

.footer__xxxcompany {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer__span {
  display: block;
}

.footer__for320px-text , .footer__for320px {
  display: none;
}

@media (max-width: 1024px) {
  .footer__img {
    width: 60px;
    height: 60px;
  }

  .footer__xxxcompany {
    font-weight: 500;
    font-size: 12px;
  }

  .footer__text {
    opacity: 0.5;
    font-size: 12px;
    line-height: 17px;
  }

  .footer__text1 {
    font-size: 21px;
    line-height: 25px;
  }

  .footer__text2 {
    font-size: 13px;
    line-height: 15px;
  }

}

@media (max-width: 320px) {
  .footer {
    padding: 30px 0;
  }

  .footer__img {
    width: 30px;
    height: 30px;
  }

  .footer__xxxcompany {
    font-size: 8px;
    line-height: 11px;
  }

  .footer__left-block {
    gap: 19px;
  }

  .footer__text1 {
    display: none;
  }

  .footer__text2 {
    display: none;
  }

  .footer__texts {
    background-image: url("../main/img/Phone.svg");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;

  }

  .footer__text {
    display: none;
  }

  .footer__for320px-text {
    display: block;
    opacity: 0.5;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;

    text-align: center;
    vertical-align: center;
  }

  .footer__for320px {
    display: block;
    width: 320px;
    height: 47px;

    background-color: #2A2C3F;

    box-sizing: border-box;
    padding: 15px 80px;
  }

}

