.advantages {
  padding: 70px 0;
}

.advantages__main-text {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;

  color: #383A4C;

  margin-bottom: 25px;
}

.advantages__about {
  display: flex;
  gap: 23px;
  justify-content: center;

  margin-bottom: 35px;
}

.advantages__about-text {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  color: #383A4C;

}

.advantages__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #383A4C;

  margin-bottom: 50px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.advantages__circle {
  position: relative;
  text-align: center;

  padding-bottom: 16px;
}

.advantages__text-circle {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  /* identical to box height, or 57px */

  text-align: center;

  color: #FFFFFF;

  top: 25%;
  left: 42%;
}

.advantages__list-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #383A4C;

  width: 196px;
}

@media (max-width: 1024px) {
  .advantages__main-text {
    font-size: 32px;
    line-height: 38px;

    margin-bottom: 23px;
  }

  .advantages__about-text {
    font-size: 20px;
    line-height: 23px;
  }

  .advantages__about {
    margin-bottom: 33px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 23px;
  }

  .advantages__circle > img {
    width: 104px;
    height: 104px;
  }

  .advantages__circle {
    padding-bottom: 26px;
  }

  .advantages__text-circle {
    font-size: 52px;
    line-height: 73px;

    top: 14%;
  }

  .advantages__list-text {
    font-size: 18px;
    line-height: 25px;
  }

}
